<div>
    <h2>Create a Comment</h2>
    <form>

        <label for="comment-content">Add your thoughts!</label>
        <input type="text" name="comment-content" id="comment-title" />

        <button class="add-post-form" type="submit">Post your Post!</button>
    </form>
</div>

<script src="/js/addComment.js"></script>