<div>
    <h2>Create a Post</h2>
    <form class="add-post-form">
        <label for="post-title">Edit Title</label>
        <input type="text" name="post-title" id="post-title"/>

        <label for="post-content">Add your thoughts!</label>
        <input type="text" name="post-content" id="post_content" />

        <button type="submit">Post your Post!</button>
    </form>
</div>

<script src="/js/addPost.js"></script>