<div class="add-post-container">
  <div class="post-item">
    {{log user}}
    <h2 class="create-a-post-h2">Create a Post</h2>
    <form class="add-post-form">
      <p><label for="post-title">Enter the name of the video game!</label></p>
      <p><input type="text" name="post-title" id="post-title"/></p>

      <p><label for="post-content">Add your thoughts!</label></p>
      <textarea type="text" name="post-content" id="post_content"></textarea>

      <p><button type="submit">Post your Post!</button></p>
    </form>
  </div>
</div>

<script src="/js/addPost.js"></script>