<div class="dashboard">
  <div class="dashboard-section">
    <h1 class="dashboard-title">Your Current Posts</h1>
    {{#each posts as |post|}}
      {{> individualPosts post=post postId=post.id}}
      {{#each comments as |comment|}}            
      {{/each}}
    {{/each}}
  </div>
</div>

<button class="create-something-button" type="submit"><a href="/dashboard/createPost">Create New Post</a></button>

