{{> individualPosts post}}

{{#if logged_in}}
<form class="comment-form">
    
    <label> Comment! </label>
    <input type="text" name="comment-body">

    <button type="submit">Add Comment</button>
</form>
{{/if}}
{{#each comments as |comment|}}
    {{!-- Here, comments are being passed into the partial. That's how partials get the information! --}}
    {{> individualComments}}
{{/each }}

{{#if logged_in}}
<script src="/js/comments.js"></script>
{{/if}}