{{!-- When user clicks on a post, they can edit their posts --}}

{{> individualPosts post}}

{{#if logged_in}}
<form class="comment-form">
    
    <label> Comment! </label>
    <input type="text" id="comment-body">

    <button type="submit">Add Comment</button>
</form>
{{/if}}
{{#each comments as |comment|}}
    {{> individualComments}}
{{/each }}

{{#if logged_in}}
<script src="/js/comments.js"></script>
{{/if}}