body {
    background-color: var(--green4);
}

.hide {
    display: none;
}

:root {
    --blueGreen: #05386B;
    --green1: #379683;
    --green2: #5CDB95;
    --green3: #8EE4AF;
    --green4: #EDF5E1;
}

/* =====HEADER===== */

.title-description {
    color:#05386B
}

nav {
    background-color: #5CDB95;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    font-weight: 400;
    position: relative;
    color: black;
}

nav a:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    color: black;
    bottom: -5px;
    height: 2px;
    background-color: var(--blueGreen);
    transform: scale(0);
    transform-origin: right;
    transition: transform 400ms ease-in-out;
}
nav a:hover:before {
    transform: scale(1);
    transform-origin: left;
}
nav a:hover {
    /* opacity: 0.7; */
    color: var(--blueGreen);
}

/* =====TITLE===== */

.home-title {
    text-align: center;
    width: 100vh;
    margin: 10px auto;
}

.home-h1 {
    color: var(--blueGreen);
    text-align: center;
    width: 100%;
}

.title-description {
    color: purple;
}

/* =====HOME PAGE===== */

.individual-post {
    margin: 0 auto;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.home-h4 {
    color: black;
}

/* =====DASHBOARD===== */

.dashboard {
    display: flex;
}

.dashboard-section {
    margin: 0 auto;
}

/* =====POSTS===== */

.single-post {
    display: flex;
    justify-content: center;
}

.post-item {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid var(--green2);
    border-radius: 10px;
}

.post-info {
    font-size: .9rem;
    color: grey;
    font-style: italic;
}
  
.post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
  
.post-header-h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin: 0 auto;
}

.create-a-post-h2 {
    text-align: center;
}
  
.post-header p {
    font-size: 1rem;
    color: var(--green1);
    margin-top: 0.5rem;
}

.post-body {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 1rem;
    background-color: var(--green3);
    color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.add-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
  
.post-item {
    width: 50vw;
    background-color: var(--green4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
}
  
.post-item h2 {
    color: var(--blueGreen);
    font-size: 2rem;
    margin-bottom: 20px;
}
  
.add-post-form p {
    margin-bottom: 10px;
}
  
label {
    display: block;
    font-weight: bold;
    color: var(--blueGreen);
    margin-bottom: 5px;
}
  
input[type="text"], textarea {
    width: 20vw;
    padding: 10px;
    background-color: whitesmoke;
 
}
  
button[type="submit"] {
    padding: 10px;
    background-color: var(--green2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
button[type="submit"]:hover {
    background-color: var(--green3);
}

.create-post-button {
    margin-bottom: 100px !important;
    color: purple;
}

/* =====COMMENTS===== */

.comment {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
  
.comment .comment-content {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}
  
.comment .comment-info {
    font-size: 14px;
    color: var(--green1);
    margin: 5px 0 0;
    font-style: italic;
}

.add-a-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--green4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
  
.add-a-comment h2 {
    color: var(--blueGreen);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.add-comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-comment-form label {
    color: var(--blueGreen);
    font-size: 18px;
    margin-bottom: 10px;
}
  
.add-comment-form textarea {
    width: 40vw;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    font-size: 1.2rem;
  }
  
.add-comment-form button {
    background-color: var(--green2);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
  
.add-comment-form button:hover {
    background-color: var(--green1);
}

.btn {
    background-color: var(--green2);
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}
  
.btn a {
    text-decoration: none;
    color: white;
}

/* =====COMMENTS===== */

.login-card, .signup-card {
    width: 40vh;
    margin: 10px auto;
    padding-bottom: 10px;
    padding-left: 30px;
}

#logout {
    text-decoration: none;
    font-weight: 400;
    position: relative;
    color: black;
    cursor: pointer;
}

#logout:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    color: black;
    bottom: -5px;
    height: 2px;
    background-color: var(--blueGreen);
    transform: scale(0);
    transform-origin: right;
    transition: transform 400ms ease-in-out;
}

#logout:hover:before {
    transform: scale(1);
    transform-origin: left;
}

#logout:hover {
    /* opacity: 0.7; */
    color: var(--blueGreen);
}

.dashboard-title {
    margin: 10px 10px;
    text-align: center;
}

.create-something-button {
    margin: 0 auto;
    display: flex;
    background-color: #5CDB95;
    color: black;
    text-decoration: none;
}

.delete-something-button, .edit-post-button {
    margin: 10px auto;
    margin-bottom: 20px;
    display: flex;
    background-color: #5CDB95;
    color: black;
    text-decoration: none;
}

button a {
    text-decoration: none;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===== LOGIN FORM===== */

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--green4);
    overflow: hidden;
    margin: 0;
}
  
.login-card,.signup-card {
    padding: 1rem;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 350px;
    text-align: center;
}
  
.page-title {
    color: var(--blueGreen);
}
  
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.form-input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--green4);
    margin-bottom: 1rem;
    width: 100%;
    color: var(--green1);
}
  
.form-input:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px;
}
  
.btn {
    color: #fff;
    background-color: var(--green2);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease-in-out;
}
  
.btn:hover {
    background-color: var(--green1);
}
  
.login-page .signup-card {
    margin-left: 1rem;
}
  /* Media Queries */
  
@media (max-width: 768px) {
    .login-page {
      flex-direction: column;
      height: 210vh;
    }
    
    .login-card, .signup-card {
      margin: 0;
      width: 100%;
    }
    
    .signup-card {
      margin-top: 50px;
    }
}


